<div class="container">
    <div class="container">
        <h1>Weekly Schedule</h1>
        <br>
    
        
        <table>
            <th>
                <tr>
                    {{#each list}}
                    <th class="{{color}}">{{days}}</th>
                    {{/each}}
                </tr>
            </th>
            <tbody>
                <tr>
                    {{#each list}}
                    <td>{{waiters}}</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    </form>
    <button type="submit">Reset</button>
    </form>
    <button><a href="/">back</a></button>
</div>