<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>

    <div class="container">
        <div class="name">
            <h1>MATHABI's COFFEE HOUSE</h1>
        </div>
        <br>
        <h3>New Schedule?</h3>
        <form action="/" method="post">
            <span>Enter Name</span>
            <input type="text" name="name" id=""></input>
            <button type="submit">Add</button>
        </form>
        <br>
        <br>
        <div class="buttons">

            <button><a href="waiters">Waiters</a></button>
            <button><a href="days">Admin</a></button>
        </div>
    </div>

</body>