 body {
     text-align: center;
     /* background-color: burlywood; */
     background-image: url("/21838947.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 } 

 .container {
     text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(139, 99, 70);
 }

 .buttons {
     /* block-size: 15em; */
     border-radius: 10%;
     size: 30%;
 }

 .name {
     font: bold; 
     font-size: 100%;
     color: rgb(139, 99, 70);
     font-family: 'Courier New', Courier, monospace;
     
 }

 table {
     width: 100%;
     /* border: solid; */
 }
 .LOGO{

    color: rgb(139, 99, 70);
    font-family: 'Courier New', Courier, monospace;
 }

 th {
     height: 70px;
 }

 .btn{

    border-radius: 5em; 
    background-color: whitesmoke;
    max-block-size: 10em;
    

 }
 .box {
    border: 2px solid saddlebrown;
    border-radius: 5px;
    min-height: 200px;
    padding: 4px;
    margin: 2em; 
    border-width: 1px;
}
#shiftdays {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 160px; */
    float: left;
    text-align: center;
}
 /* .box{

    /* table-layout: auto ;
    margin: auto; */
 /* } */

 .two row{

    margin-left: auto;
    margin-right: auto;
 }

 .h1{

    color: rgb(139, 99, 70);
    font-family: 'Courier New', Courier, monospace;
 }
 .red{color: red;} .orange{color:orange;} .green{color:green;}